* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

main {
  display: block;
  max-width: 1000px;
  width: 60%;
  margin: 1em auto;
  min-height: 70vh;
}