// .user-card {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;

//     padding: 0.5rem 0rem;
//     border: 1px solid #ddd;
//     border-radius: 10px;

//     .user-details-right {
//         text-align: left;
//     }

//     .user-details-left {
//         .profile-image {
//             border-radius: 50%;
//             width: 12vw;
//         }
//     }

//     a {
//         font-weight: 500;
//         color: #646cff;
//         text-decoration: inherit;
//     }

//     a:hover {
//         color: #535bf2;
//     }
// }

.user-card {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    text-align: center;
    border-radius: 5px;
    width: fit-content;
    overflow: hidden;
    position: relative;
    padding: 1em 3rem;
    margin: 1rem auto;
    animation: fadeInUp .3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

    .user-details-left {
        .profile-image {
            border-radius: 100%;
            width: 12vw;
        }
    }

    .user-details-right {
        text-align: left;
    }

    .link-to-profile {
        font-weight: 500;
        color: #646cff;
        text-decoration: inherit;
    }

    .link-to-profile:hover {
        color: #535bf2;
    }
}

// @media screen and (min-width: 768px) {
//     .container {
//       padding-top: 14rem;
//     }
//   }